<template>
    <view class="content">
        <web-view
            id="custom-web-view"
            :src="webViewSrc"
            @message="onMessage"
        ></web-view>
    </view>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import WebBridge from "@/utils/alipay-api-bridge/webview-bridge";
import { SystemInfo, SiteInfo } from "@/types/alipay";

@Component
export default class Webview extends Vue {
    language: string = "";
    app: string = "";
    webBridge: any = null;
    partnerChannel: SiteInfo.siteName = "ALIPAY_HK";
    query: Record<string, string> = {};

    onLoad(query) {
        let that = this;
        this.query = query;
        (uni as any).getSystemInfo({
            success: function (res: SystemInfo) {
                that.language = res.language;
                that.app = res.app;
            },
        });

        // // #ifdef  MP-ALIPAY
        try {
            my.call("getSiteInfo", {
                success: ({ siteName }) => {
                    this.partnerChannel = siteName || "ALIPAY_HK";
                },
                fail: (res) => {
                    my.alert({
                        title: JSON.stringify(res),
                    });
                },
            });
        } catch (e) {
            my.alert({
                title: JSON.stringify(e),
            });
        }
        // // #endif

        this.webBridge = new WebBridge("custom-web-view");
    }

    onMessage(e: any) {
        (this.webBridge as any).handleMessage(e);
    }

    get webViewSrc() {
        const webViewSrcMap: Record<string, string> = {
            development: "http://localhost:3000/",
            // development: "https://concierge111.test.klook.io/",
            test: "https://concierge111.test.klook.io/",
            production: "https://alipayconnect.partner.klook.com/",
        };
        // 支付宝小程序系统信息文档 https://opendocs.alipay.com/mini/api/system-info
        const languageMap = {
            "zh-Hans": "zh-CN",
            en: this.getEnLang(),
            "zh-Hant": "zh-TW",
            "zh-HK": "zh-HK",
            default: "en-US",
        };

        let queryParams = "";
        for (let key in this.query) {
            queryParams += `&${key}=${this.query[key]}`;
        }

        return (
            (webViewSrcMap[process.env.NODE_ENV] || "http://localhost:3000/") +
            (languageMap[this.language] || languageMap.default) +
            "?partnerChannel=" +
            this.partnerChannel + queryParams + '&version=1.2.1'
        );
    }

    getEnLang() {
        const enMap: { [key in SiteInfo.siteName]?: string } = {
            ALIPAY_HK: "en-US",
            TNG: "en-MY",
            GCASH: "en-PH",
        };

        return enMap[this.partnerChannel];
    }
}
</script>

<style>
.content {
    text-align: center;
    height: 400 upx;
}

.logo {
    height: 200 upx;
    width: 200 upx;
    margin-top: 200 upx;
}

.title {
    font-size: 36 upx;
    color: #8f8f94;
}
</style>
