<template>
	<view class="content">
        首页
	</view>
</template>

<script lang="ts">
    import Vue from 'vue';
	
	export default Vue.extend({
		data() {
            return {}
        },
		onLoad() {},
		methods: {}
	});
</script>

<style>

</style>
